AccountAuthorizationAPI.iPhone/WSDL/AccountAuthorizationAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="AccountAuthorizationAPI" targetNamespace="http://api.art.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://api.art.com" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <wsdl:binding name="BasicHttpBinding_IAccountAuthorizationAPI" type="i0:IAccountAuthorizationAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateAccount">
      <soap:operation soapAction="http://api.art.com/IAccountAuthorizationAPI/AuthenticateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <soap:operation soapAction="http://api.art.com/IAccountAuthorizationAPI/CreateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:types />
  <wsdl:service name="AccountAuthorizationAPI">
    <wsdl:port name="BasicHttpBinding_IAccountAuthorizationAPI" binding="i0:BasicHttpBinding_IAccountAuthorizationAPI">
      <soap:address location="http://dev-api.art.com/AccountAuthorizationAPI.svc/soap" />
    </wsdl:port>
  </wsdl:service>
  <wsdl:portType name="IAccountAuthorizationAPI">
    <wsdl:operation name="AuthenticateAccount">
      <wsdl:input wsaw:Action="http://api.art.com/IAccountAuthorizationAPI/AuthenticateAccount" message="tns:IAccountAuthorizationAPI_AuthenticateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://api.art.com/IAccountAuthorizationAPI/AuthenticateAccountResponse" message="tns:IAccountAuthorizationAPI_AuthenticateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <wsdl:input wsaw:Action="http://api.art.com/IAccountAuthorizationAPI/CreateAccount" message="tns:IAccountAuthorizationAPI_CreateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://api.art.com/IAccountAuthorizationAPI/CreateAccountResponse" message="tns:IAccountAuthorizationAPI_CreateAccount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:message name="IAccountAuthorizationAPI_CreateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountAuthorizationAPI_CreateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountAuthorizationAPI_AuthenticateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountAuthorizationAPI_AuthenticateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateAccount" />
  </wsdl:message>
  <wsdl:types>
    <xsd:schema targetNamespace="http://api.art.com/Imports">
      <xsd:import schemaLocation="http://dev-api.art.com/AccountAuthorizationAPI.svc?xsd=xsd0" namespace="http://api.art.com" />
      <xsd:import schemaLocation="http://dev-api.art.com/AccountAuthorizationAPI.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dev-api.art.com/AccountAuthorizationAPI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Art.Data.Contract.API" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:import namespace="http://tempuri.org/" location="http://dev-api.art.com/AccountAuthorizationAPI.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://api.art.com/Imports">
      <xs:element name="CreateAccountResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="CreateAccountResult" nillable="true" type="q2:AuthorizationResponse" xmlns:q2="http://schemas.datacontract.org/2004/07/Art.Data.Contract.API" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CreateAccount" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="apiKey" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AuthenticateAccountResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="AuthenticateAccountResult" nillable="true" type="q1:AuthorizationResponse" xmlns:q1="http://schemas.datacontract.org/2004/07/Art.Data.Contract.API" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AuthenticateAccount" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="apiKey" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:import schemaLocation="http://dev-api.art.com/AccountAuthorizationAPI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Art.Data.Contract.API" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
      <xs:attribute name="Ref" type="xs:IDREF" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
      <xs:attribute name="Id" type="xs:ID" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
      <xs:attribute name="FactoryType" type="xs:QName" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
      <xs:simpleType name="guid" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:restriction base="xs:string">
          <xs:pattern value="[\da-fA-F]{8}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{12}" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="guid" nillable="true" type="tns:guid" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
      <xs:simpleType name="duration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:restriction base="xs:duration">
          <xs:pattern value="\-?P(\d*D)?(T(\d*H)?(\d*M)?(\d*(\.\d*)?S)?)?" />
          <xs:minInclusive value="-P10675199DT2H48M5.4775808S" />
          <xs:maxInclusive value="P10675199DT2H48M5.4775807S" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="duration" nillable="true" type="tns:duration" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
      <xs:simpleType name="char" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:restriction base="xs:int" />
      </xs:simpleType>
      <xs:element name="char" nillable="true" type="tns:char" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
      <xs:element name="unsignedShort" nillable="true" type="xs:unsignedShort" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
      <xs:element name="unsignedLong" nillable="true" type="xs:unsignedLong" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
      <xs:element name="unsignedInt" nillable="true" type="xs:unsignedInt" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
      <xs:element name="unsignedByte" nillable="true" type="xs:unsignedByte" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
      <xs:element name="string" nillable="true" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
      <xs:element name="short" nillable="true" type="xs:short" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
      <xs:element name="QName" nillable="true" type="xs:QName" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
      <xs:element name="long" nillable="true" type="xs:long" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
      <xs:element name="int" nillable="true" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
      <xs:element name="float" nillable="true" type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
      <xs:element name="double" nillable="true" type="xs:double" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
      <xs:element name="decimal" nillable="true" type="xs:decimal" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
      <xs:element name="dateTime" nillable="true" type="xs:dateTime" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
      <xs:element name="byte" nillable="true" type="xs:byte" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
      <xs:element name="boolean" nillable="true" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
      <xs:element name="base64Binary" nillable="true" type="xs:base64Binary" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
      <xs:element name="anyURI" nillable="true" type="xs:anyURI" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
      <xs:element name="anyType" nillable="true" type="xs:anyType" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
      <xs:element name="OperationResponse" nillable="true" type="tns:OperationResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
      <xs:complexType name="OperationResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:sequence>
          <xs:element minOccurs="0" name="ResponseCode" type="xs:int" />
          <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="AuthorizationResponse" nillable="true" type="tns:AuthorizationResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
      <xs:complexType name="AuthorizationResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:sequence>
          <xs:element name="OperationResponse" nillable="true" type="tns:OperationResponse" />
          <xs:element name="AuthenticationToken" nillable="true" type="xs:string" />
          <xs:element name="DateExpires" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountAuthorizationAPI_AuthenticateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountAuthorizationAPI_AuthenticateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountAuthorizationAPI_CreateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountAuthorizationAPI_CreateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountAuthorizationAPI">
    <wsdl:operation name="AuthenticateAccount">
      <wsdl:input wsaw:Action="http://api.art.com/IAccountAuthorizationAPI/AuthenticateAccount" message="tns:IAccountAuthorizationAPI_AuthenticateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://api.art.com/IAccountAuthorizationAPI/AuthenticateAccountResponse" message="tns:IAccountAuthorizationAPI_AuthenticateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <wsdl:input wsaw:Action="http://api.art.com/IAccountAuthorizationAPI/CreateAccount" message="tns:IAccountAuthorizationAPI_CreateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://api.art.com/IAccountAuthorizationAPI/CreateAccountResponse" message="tns:IAccountAuthorizationAPI_CreateAccount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="AccountAuthorizationAPI">
    <wsdl:port name="BasicHttpBinding_IAccountAuthorizationAPI" binding="i0:BasicHttpBinding_IAccountAuthorizationAPI">
      <soap:address location="http://dev-api.art.com/AccountAuthorizationAPI.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>